/*!CK:998898246!*//*1453754842,*/

._4i3e{padding-bottom:8px}._5tfa{margin:2px 0 2px 4px;max-width:265px;overflow:hidden;text-overflow:ellipsis}
._4sv0{margin-top:-3px;padding-top:3px}
._yt4{padding:5px 0 3px 0}
._5n2b{margin-bottom:10px}._5n2b ._5if4{height:36px;min-height:63px;padding-bottom:0}

#bootloader_YRYo0{height:42px;}.bootloader_YRYo0{display:block!important;}