/*!CK:2112261952!*//*1453691394,*/

.FlyoutFriendListMenuNUX{background-color:#f6f7f8;border:1px solid #b2b2b2;box-shadow:0 2px 5px rgba(0, 0, 0, .3);min-height:100%;position:absolute;right:-100%;top:-1px;width:100%;z-index:-1}.FlyoutFriendListMenuNUX .content{padding-left:15px}
._4340{margin:5px}

#bootloader_Nk0mK{height:42px;}.bootloader_Nk0mK{display:block!important;}